* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fotodeperfil {
    display: flexbox;
    align-items: center;
    margin: auto;
}

.loginlogo {
    height: 20%;
    width: 20%;
    padding: 0px;
    margin: 00px auto;
    width: 150px;
    display: flex;
    border-radius: 100%
}

.h2 {
    width: 100%;
  padding: 12px 20px;
  margin: 8px auto;
  display: inline-block;
  border: 1px solid green   ;
  box-sizing: border-box;
  text-align: center;
    

    
    
}

.h3{
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    box-sizing: border-box;

}
.subtitle {
    padding: 50px;
    align-items: center;
}

.content
{
    padding: 50px;
    margin: 50;
    width: 300px;
;
    
}





#GuardarCambios {
    visibility: hidden;
}