* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loginlogo {
    padding-top: 20px;
    margin: 20px auto;
    width: 150px;
    display: flex;
}


#Login {
    visibility: hidden;
}

#Register {
    visibility: hidden;
}

.title {
    width: 100%;
  padding: 12px 20px;
  margin: 8px auto;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
    
    
    
}
.subtitle {
    padding: 50px;
}

.text {
    padding: 50px;
    
}
    